<body role="document">

<nav role="navigation" class="navbar navbar-default">
  <div class="navbar-header">
    <div class="navbar-brand">
      <%=link_to image_tag("logo.png"), '/'%>
    </div>
  </div>

  <div class="col-sm-5 user_name">
    <h3>Welcome, <span><%= current_user.email%></span></h3>
  </div>
  <!--<div id="navbarCollapse" class="collapse navbar-collapse">-->
  <!--<ul class="nav navbar-nav pull-right">-->
  <!--<li>Welcome <%= current_user.role%></li>-->
  <!--<li>, <%= current_user.email%></li>-->
  <!--<li><%= link_to 'Home', dashboard_homes_path %></li>-->
  <!--<li><%= link_to 'Add Business Images', new_profile_pic_path %></li>-->
  <!--<li><%= link_to 'Gallery', new_gallery_path %></li>-->
  <!--<li><%= link_to 'Your Conversations', conversations_path %></li>-->
  <!--<li><%= link_to 'Add Event', new_ceremony_path %></li>-->
  <!--<li><%#= link_to 'Guest Manager', new_guest_path %></li>-->
  <!--<li><%= link_to 'Business Info', new_category_path %></li>-->
  <!--<li><%= link_to 'Add Keywords', new_user_keyword_path %></li>-->
  <!--<li><%= link_to 'Manage Profile', edit_user_registration_path%></li>-->
  <!--<li><%= link_to 'logout', destroy_user_session_path, :method=>"delete", id: "sign_out"%></li>-->
  <!--</ul>-->
  <!--</div>-->
</nav>

<% flash.each do |name,msg|%>
    <div class="col-lg-12 ">
      <div class="alert alert-<%=name == 'notice' || 'success' ? 'success' : 'danger'%>">
        <%=msg%>
        <a class="close" data-dismiss="alert">x</a>
      </div>
    </div>
<%end%>

<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header" style="display:inline">
      <button class="navbar-toggle collapsed" data-target=".navbar-collapse" data-toggle="collapse" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <% @categories = Category.all %>
        <% @categories.each do |category| %>
            <li>
              <a href="#">
                <img src="/assets/wedding_card.png">
                <div>
                  <%= link_to category.category_type, category_path(category) %>
                </div>
                </img>
              </a>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <%if current_user.is_verified==true%>
  <div class="col-sm-4 col-md-3 sidebar" id="user_bar">
    <div class="row">
      <div class="bg-custom padding_10px">
         <span class="user_img">
             <img src="/assets/user_pic.jpg" />
         </span>
         <strong style="position: relative; top: -15px"><%= current_user.full_name%></strong>
         <span style="position: relative; font-size:22px; float: right; top: 5px">
             <span class="fa fa-dashboard"></span> Dashboard
         </span>
        <div class="clearfix"></div>
      </div>

      <ul class="nav nav-sidebar">
        <!--<li class="active"><a href="/homes/dashboard"><span class="fa fa-home"></span> Home</a></li>-->
        <%if current_user.vendor?%>
            <li><a href="/profile_pics/new"><span class="fa fa-image"></span>Add Business Images </a></li>
            <li><a href="/galleries/new"><span class="fa fa-image"></span> Gallery</a></li>
            <li><a href="/user_keywords/new"><span class="fa fa-tags"></span> Add Keywords</a></li>
            <li><a href="/categories/new"><span class="fa fa-info"></span> Business Info</a></li>
            <li><a href="/wishlists"><span class="fa fa-info"></span>See wishlists</a></li>
        <% elsif current_user.customer? %>
            <li><a href="/ceremonies/new"><span class="fa fa-book"></span> Add Event</a></li>
            <li><a href="/galleries/new"><span class="fa fa-image"></span> Gallery</a></li>
            <li><a href="/subsites/new"><span class="fa fa-globe"></span> Create your website</a></li>
            <li><a href="/wishlists/new"><span class="fa fa-info"></span> Create wishlists</a></li>
        <% end %>
        <li><a href="/conversations"><span class="fa fa-sort-numeric-desc"></span> Your Conversations</a></li>
        <li><a href="/users/edit"><span class="fa fa-user"></span> Manage Profile</a></li>
        <li><%= link_to '<span class="fa fa-sign-out"></span> logout'.html_safe, destroy_user_session_path, :method=>"delete", id: "sign_out"%>
        </li>
      </ul>
    </div>
  </div>
  <% end %>
  <div class="col-md-9 col-sm-8">
    <%= yield %>
  </div>

  <div class="clearfix margin_bottom15px"></div>

</div>

<%=render 'layouts/footer'%>
</body>